.color-green {
    color: green;
}
.color-blue {
    color:blue;
}
.color-red {
    color: red;
}

/*opdracht four*/
.color {
    color: hotpink;
}
.color-Tv-Details{
    color: red;
}
.color-price {
    color: purple;
}
.color-screensize{
    color: magenta;
}